{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<style type="text/css">
		html {
			overflow-y: scroll; /* make scrollbar always visible */
		}
		li {
			font-size: 0.8em;
			line-height: 1.22em;
		}
		p {
			margin-top: 0em;
		}
		.hr_sep {
			margin-top: 0em;
            border-top: 1px solid #d9d9d9;
		}
		.important { 
			color: #336699;
		}
		.text_small_description {
			font-size: 0.5em;
		}

		#block_crop_selection {
			display: flex;
			justify-content: space-between;
		}
		#block_crop_selection_left {
			position: relative;
		}
		#block_selection_image {
			width: 20em;
			height: 20em;
			border: 1px solid #d9d9d9;
			max-width: 20em;
			max-height: 20em;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		#block_crop_info {
			position: absolute;
			bottom: -1.0em;
			line-height: 1.0em;
			width: 100%;
		}
		#block_crop_info_flex {
			/* Firefox fix: 
			 * FF removes flex if element is absolute positioned 
			 */
			display: flex;
			justify-content: space-between;
		}

		#block_crop_selection_right {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}
		#block_crop_image {
			width: 10em;
			height: 10em;
			margin-top: 1em;
			margin-bottom: 1em;
			border: 1px solid #d9d9d9;
			position: relative;
			overflow: hidden;
		}

		.selection_image {
			width: auto; 
			height: auto;
		}

		#block_results_spinner {
			text-align: center;
		}
		#block_results_status {
			font-size: 0.8em;
			margin-top: 0em;
			margin-bottom: 1em;
		}
		#block_results_images {
			display: block;
		}
		#block_results_images_left {
			width: 48%;
			float: left;
			overflow: hidden;
		}
		#block_results_images_right {
			width: 48%;
			float: right;
			overflow: hidden;
		}
		.block_result {
			display: flex;
			flex-wrap: wrap;
			margin-top: 1em;
			margin-bottom: 1em;
		}
		.block_result_image {
			height: 7.5em;
			width: 7.5em;
		}
		.block_result_info {
			display: flex;
			align-items: center;
		}
		.result_image {
			width: 100%;
			height: 100%;
			cursor: pointer;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.invisible_button {
			position: fixed;
			right: 100%;
			bottom: 100%;
		}
		.input_image_url {
		    line-height: 1.8em;
		}
		.input_button {
			border: 1px solid #ccc;
			display: inline-block;
			padding: 0px 12px;
			cursor: pointer;
			line-height: inherit;
			vertical-align: bottom;
		}
		.button_disabled {
			cursor: auto;
			background-color: #e6e6e6;
			border-color: #808080;
		}

		#block_lightbox {
			display: none;
			position: fixed;
			z-index: 10;
			padding-top: 50px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
		}
		.block_lightbox_content {
			position: relative;
			background-color: #fefefe;
			margin: 0 auto;
			padding: 0;
			width: 90%;
			max-width: 1200px;
			max-height: 1000px;
		}
		.canvas {
			border: 0px solid #d3d3d3;
		}
		.close_lightbox {
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 25px;
			font-size: 35px;
			font-weight: bold;
		}
	</style>
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/imgareaselect-default.css" />
	<script type="text/javascript" src="static/scripts/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="static/scripts/jquery.imgareaselect.pack.js"></script>
	<script type="text/javascript" src="static/scripts/search.js" defer></script>
{% endblock %}
{% block content %}
	<section id="section_image_selection">
		<h3>Choose an image</h3>
		<label for="input_image_file" class="input_button">
			<span class="fa fa-cloud-upload"></span>
		</label>
		<input type="file" id="input_image_file" class="invisible_button" name="image_file"/>

		<input type="text" id="input_image_url" name="image_url" class="input_image_url" placeholder="Upload or enter image URL" size="50" />
		<label for="input_url_button" class="input_button">
			Get image
		</label>
		<input type="button" id="input_url_button" class="invisible_button"/>
		<hr />
	</section>
	<section id="section_crop_selection">
		<h3>Choose a selection</h3>
		<div id="block_crop_selection">
			<div id="block_crop_selection_left">
				<div id="block_selection_image">
					<img id="image" class="selection_image" />
				</div>
				<div id="block_crop_info"><div id="block_crop_info_flex">
					<span class="text_small_description" id="text_image_size"></span>
					<span class="text_small_description" id="text_crop_params"></span>
				</div></div>
			</div>
			<div id="block_crop_selection_right">
				<div id="block_crop_image">
					<img id="crop" style="position: relative;" />
				</div>
				<form method="post" id="form_search">
					<label for="search_submit" id="search_submit_label" class="input_button">
						Search with this selection
					</label>
					<input type="submit" id="search_submit" class="invisible_button"/>
					<input type="url" id="input_search_url" name="url" style="display: none" />
				</form>
			</div>
		</div>
	</section>
	<section id="section_results">
		<hr />
		<h3>Search results</h3>
		<div id="block_results_spinner">
			<span class="fa fa-spinner fa-spin fa-3x"></span>
		</div>
		<span id="block_results_status"></span>
		<div id="block_results_images">
			<div id="block_results_images_left"></div>
			<div id="block_results_images_right"></div>
		</div>
	</section>

	<div id="block_lightbox" onclick="close_lightbox()">
		<span class="close_lightbox" onclick="close_lightbox()">&times;</span>
		<div class="block_lightbox_content">
			<canvas id="canvas" class="canvas" width="1200" height="1000" />
		</div>
	</div>
{% endblock %}